@import "tailwindcss";

@config "../../tailwind.config.js";

.fade-in {
  @apply opacity-0 translate-y-2;
  animation: fadeIn 0.25s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.masonry {
  @apply columns-1 sm:columns-2 md:columns-3 lg:columns-4 gap-4 p-4;
}

.masonry > * {
  @apply mb-4 break-inside-avoid w-[1/4];
}
