@import "tailwindcss";

@config "../../tailwind.config.js";

.fade-in {
  @apply opacity-0 translate-y-2;
  animation: fadeIn 0.25s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}